/ObjOrienDesignRuby/talk010A.rb
/.idea/misc.xml
/.idea/workspace.xml
/ObjOrienDesignRuby/talk015A.rb
/ObjOrienDesignRuby/talk030A.rb
/ObjOrienDesignRuby/strategyV1.rb
/ObjOrienDesignRuby/strategyV1A.rb
/ObjOrienDesignRuby/strategyV2.rb
/ObjOrienDesignRuby/strategyV3.rb
/ObjOrienDesignRuby/compositeV1.rb
/ObjOrienDesignRuby/ObserverV1.rb
/ObjOrienDesignRuby/ObserverV2.rb
/ObjOrienDesignRuby/ObserverV3.rb
/ObjOrienDesignRuby/Point.rb
/ObjOrienDesignRuby/PointTest.rb
/ObjOrienDesignRuby/Rect.rb
/ObjOrienDesignRuby/Rect2.rb
/ObjOrienDesignRuby/Rect2Test.rb
/ObjOrienDesignRuby/RectTest.rb
/ObjOrienDesignRuby/commandV1.rb
/ObjOrienDesignRuby/commandV2.rb
/ObjOrienDesignRuby/commandV3.rb
/ObjOrienDesignRuby/commandV4.rb
/ObjOrienDesignRuby/commandV5.rb
/ObjOrienDesignRuby/talk085.rb
